<mat-sidenav-container>

        <mat-sidenav #sidenav
        [fixedInViewport] ="true"
        >
            <div class="sources-header">Sources</div>
            <div class="sources" matRipple (click)="setSourceValue(source.id)" *ngFor="let source of sources">
            <div class="source-thumbnail" [style.background-color]="source.color" >{{source.name | slice:0:1 }}</div>
                {{source.name}}
            </div>
        </mat-sidenav>
        
        <mat-sidenav-content>
                <mat-toolbar color="primary">
                        <button mat-button (click)="sidenav.toggle()">
                            <mat-icon class="drawer-icon">dehaze</mat-icon> 
                        </button>
                        &nbsp;News 
                </mat-toolbar>


                <app-news-list [sourceName]="sourceNameValue"></app-news-list>

            </mat-sidenav-content>
</mat-sidenav-container>
