<mat-sidenav-container>

        <mat-sidenav #sidenav mode="push"
        [fixedInViewport] ="true"
        >
            <div class="sources-header">Sources</div>
            <div class="sources" matRipple *ngFor="let source of sources">{{source.name}}</div>
        </mat-sidenav>
        
        <mat-sidenav-content>
                <mat-toolbar color="primary">
                        <button mat-button (click)="sidenav.toggle()">
                            <mat-icon class="drawer-icon">dehaze</mat-icon> 
                        </button>
                        &nbsp;News App
                </mat-toolbar>

                <app-news-list></app-news-list>
        </mat-sidenav-content>
</mat-sidenav-container>
